#landingContainer {
  background: #fff url('/images/frame.jpg') 0px 0px no-repeat;
  min-height: 600px;
  width: 430px;
  margin: 26px auto;
  padding-top: 82px;
}

#startQuiz {
  height: 364px;
  width: 240px;
  margin: 20px auto;
  padding-top: 10px;
  background-color: #008080;
  cursor: pointer;
  color: #fff;
  font-size:50px;
  text-align: center;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
  webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  -ms-transition-duration:5s;
  transition-duration: 5s;
}
#startQuiz div {
  font-family: 'Lora', serif;
  line-height: 49px;
  margin-top: 30px;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -ms-transition-duration:2s;
  transition-duration: 2s;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size:50px;
}


#startQuiz:hover {
    background-color: #cccc00;
    color: #E5DBCF;
}

#startQuiz:hover div {
  color:#fff;

}
#nextBtn {
  height:40px;
  cursor: pointer;
  line-height: 41px;
  text-align:center;
  border-radius:5px;
}

#nextBtn {
  position: relative;
  top: 4px;
  left: 45px;
  width:50px;
  background-color: transparent;
  color: #008080;
  font-size: 42px;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -ms-transition-duration: 2s;
  transition-duration: 2s;
}

#nextBtn:hover {
  color: #cccc00;
}

.score {
  color: #008080;
  font-size: 50px;
}

#quizContainer {
  display: none;
}

#quizContainer label {
  margin-left: 10px;
}

.show {
  display: block;
}

#warningMsg {
  color: #ff0000;
  height: 20px;
}

button:focus {
  outline: none;
}

button {
  border-style: none;
}

#question img {
  width: 100%;
}

input {
  font-size: 40px;
  cursor: pointer;
}
