#nextBtn, #startQuiz {
  height:40px;
  cursor: pointer;
  line-height: 41px;
  text-align:center;
  border-radius:5px;
}

#nextBtn {
  position: relative;
  top: 4px;
  left: 45px;
  width:50px;
  background-color: transparent;
  color: #008080;
  font-size: 42px;
}
#nextBtn:hover {
  color: #cccc00;
}

#startQuiz {
  background-color:#008080;
  width: 100px;
  color: #fff;
}
.score {
  color: #008080;
  font-size: 50px;
}

#quizContainer {
  display: none;
}

#quizContainer label {
  margin-left: 10px;
}

.show {
  display: block;
}

#warningMsg {
  color: #ff0000;
  height: 20px;
}

button:focus {
  outline: none;
}

button {
  border-style: none;
}

#question img {
  width: 100%;
}

input {
  font-size: 40px;
}
